beautifulsoup4==4.8.2
bs4==0.0.1
Cartopy==0.17.0
cftime==1.0.3.4
cmocean==1.2
cycler==0.10.0
GDAL==2.2.2
geopy==1.18.1
lxml>=4.6.2
matplotlib==3.0.2
netCDF4==1.4.2
numpy==1.15.4
pyparsing==2.3.0
pyshp==2.0.1
python-dateutil==2.7.5
scipy==1.2.0
seawater==3.3.4
urllib3>=1.26.5
